# # Ignore environment secrets
# .env
# smart-contract/.env

# venv/
# node_modules/
# __pycache__/
# *.pyc



# Ignore ALL env files
.env
**/.env

# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/

